<div class="top-bar">
  <div class="back-button-container">
    <a href="/" class="btn btn-back">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
  <!-- Menú de navegación (si lo necesitas) -->
  <!-- <a href="#" class="menu-link">Menu Link</a> -->
</div>

<div class="container">
  <h1 class="title">🐾 Veterinaria 🐾</h1>
  <br />

  <!-- Contenedor principal -->
  <div class="content-wrapper">
    <!-- Catálogo de mascotas -->
    <div class="catalog-container">
      <h2 class="form-container-title">Pacientitos</h2>
      <br />

      <!-- Mostrar tabla si hay mascotas -->
      @if(mascotas.length > 0) {
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Edad</th>
            <th>Imagen</th>
            <th>Seleccionar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          @for(mascota of mascotas; track mascota.id) {
          <tr>
            <td>{{ mascota.nombre }}</td>
            <td>{{ mascota.especie }}</td>
            <td>{{ mascota.edad }} años</td>
            <td>
              <img src="{{ mascota.imagen }}" alt="{{ mascota.nombre }}" class="pet-image">
            </td>
            <td>
              <button class="btn seleccionar" (click)="seleccionarMascota(mascota)">
                <i class="fas fa-check-circle"></i>
              </button>
            </td>
            <td>
              <button class="btn eliminar" (click)="eliminarMascota(mascota.id)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      } @else {
      <p class="no-mascotas">No hay mascotas registradas 😞</p>
      }
    </div>

    <!-- Formulario de mascotas -->
    <div class="form-container">
      <h2>Formulario de Mascotas</h2>

      <p>Nombre: <input type="text" class="form-control" [(ngModel)]="mascota.nombre"></p>
      <p>Especie: <input type="text" class="form-control" [(ngModel)]="mascota.especie"></p>
      <p>Edad: <input type="number" class="form-control" [(ngModel)]="mascota.edad"></p>

      <p>Imagen:
        <input type="file" id="file-upload" class="form-control" (change)="onFileSelected($event)">
        <label for="file-upload">Seleccionar Imagen</label>
      </p>

      <div class="button-container">
        <button type="button" class="btn btn-primary" (click)="agregarMascota()">Agregar</button>
        <button type="button" class="btn btn-success" (click)="modificarMascota()">Modificar</button>
      </div>
    </div>
  </div>

  <div id="alert-container" class="alert-container"></div>
</div>

<!-- Agregar los enlaces a los íconos de FontAwesome -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>